<?xml version="1.0"?>

<!--  only for simulate the robot arm   --> 

<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >   

    <xacro:include filename= "material.xacro" /> 

    <xacro:include filename="inertia.xacro" /> 

    <xacro:include filename="arm.xacro" />
   


</robot>
